* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.container {
    width: 70vw;
    max-width: 800px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 60vw;
    max-width: 400px;
    height: 80vh;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
    border-radius: 30px;
}
.sneaker {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sneaker img {
    width: 40vw;
    max-width: 300px;
    padding-top: 60px;
    z-index: 2;
    transition: all 0.75s ease-out;
}

.circle {
    width: 30vw;
    max-width: 200px;
    height: 30vw;
    max-height: 200px;
    background: linear-gradient(to right, rgba(245,70,66,0.75), rgba(8,83,156,0.75));
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
.info {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.info h1 {
    font-size: 6vw;
    transition: all 0.75s ease-out;
}

.info h3 {
    font-size: 3vw;
    padding: 2rem 0rem;
    color: gray;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}

.sizes {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    max-width: 380px;
    transition: all 0.75s ease-out;
}

.sizes button {
    width: 10vw;
    max-width: 90px;
    height: 6vh;
    max-height: 40px;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: gray;
}

button.active {
    background: gray;
    color: white;
}

.purchase {
    width: 50vw;
    max-width: 380px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    transition: all 0.75s ease-out;
}

.purchase button {
    width: 100%;
    padding: 1rem 0rem;
    background: orangered;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    color: white;
    font-weight: bolder;
}
@media only screen and (min-width: 600px) {
    .info h1 {
        font-size: 48px;
    }

    .info h3 {
        font-size: 24px;
    }
  }
