* { 
    margin: 0;
    padding: 0;
}

body {
    margin: 30px auto;
    text-align:center;
    line-height: 60px;
    color: #ffc400;
    align-items: center;
    justify-content: center;
}


.game-board {
    margin:30px auto;
    position: relative;
    overflow: hidden;
    background: #fff;
    width: 550px;
    height: 444px;
    border: 2px solid #ddd;
}

.game-tile {
    position: absolute;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background: #f6da17 url(img/tile.jpg) center center no-repeat;
    background-size: contain;
}

.game-tile:hover {
    background-color:#F7C11A;
}

.game-score {
    text-align:center;
    font-size: larger;
}

button, input[type="button"].button, input[type="submit"].button {
    display: block;
    max-width: 20em;
    text-align: center;
    padding: 1.3em 3em;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    margin: 2em auto;
    background: #ffc400;
    border-radius: 0.2em;
    line-height: 1.1em;
    text-shadow: none;
    transition: 0.5s background-color, 0.5s box-shadow;
    box-shadow: 0 2px 5px rgba(255, 99, 71, 0.4);
    border: 0;
    cursor: pointer;
}
